# Node / JS
node_modules/
dist/
build/
coverage/

# OS/editor
.DS_Store
.idea/
.vscode/
*.log

# Python
.venv/
__pycache__/
*.pyc

# Test report artifacts
test-repo-mode-jsonplaceholder/reports/allure/
test-repo-mode-jsonplaceholder/reports/results/
